---
import {
  normalizeEditorJsListItems,
  type NormalizedListItem,
} from "../lib/list";

export interface Props {
  data: {
    style: string;
    items: unknown;
  };
}

const { data } = Astro.props;

const isOrdered = data.style === "ordered";
const isChecklist = data.style === "checklist";

const items: NormalizedListItem[] = normalizeEditorJsListItems(data.items);
---

{
  isOrdered ? (
    <ol>
      {items.map((item) => (
        <li>
          <span set:html={item.html} />
        </li>
      ))}
    </ol>
  ) : (
    <ul class={isChecklist ? "checklist" : undefined}>
      {items.map((item) => (
        <li>
          {isChecklist && (
            <input
              class="check"
              type="checkbox"
              checked={Boolean(item.checked)}
              disabled
            />
          )}
          <span set:html={item.html} />
        </li>
      ))}
    </ul>
  )
}

<style>
  ol,
  ul {
    margin: 12px 0;
    padding-left: 24px;
  }

  li {
    line-height: 1.6;
    margin-bottom: 8px;
  }

  .checklist {
    list-style-type: none;
    padding-left: 0;
  }

  .checklist li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .check {
    margin-top: 4px;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }
</style>
